.list {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  overflow-x: scroll;
  background-color: #1e1d1e;
  grid-column: 1/3;
  grid-row: 3;
}

.list .custom-btn {
  background-color: #f5c268;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding: 12px;
  border: 1px solid white;

  background: white;
  color: #323232;
  width: 100%;
  /* box-shadow: inset 0 -15px 10px -10px #0000001e; */
  border-bottom: 1px solid lightgrey;
}

.card h1 {
  width: 60%;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}

.card span {
  width: 15%;
  margin-left: 5px;
}

.card p {
  grid-column: 1;
  grid-row: 2;
}